*
{
  background: #69F7BE;
  font-family: "Comic sans MS", cursive, sans-serif; 
  pointer-events: auto;
 
}
h1
{
  text-align: center;
  color: #2c6700;
  font-style: bold;
}
p{
   text-align: center;
}
.buttons
{
  
  background: #FF6600;
  font-size: 30px;
  border: 3px;
  border-radius: 25px;
  padding: 10px;
}
.buttons:hover
{
  background: red;
}
input, textarea
{
  position: sticky;
  background: #FFCF;
  margin-bottom: 10px;
  left: 45%;
  resize: none;
}
label
{
  margin-left: 30%;
}