*
{
  background: #69F7BE;
  font-family: "Comic sans MS", cursive, sans-serif; 
  pointer-events: auto;
}
h1
{
  color: #2c6700;
  font-style: bold;
}
form
{
width: 100%;
 font-size: 20px;
}
input
{
  background: #FFCF;
  font-size: 20px;
  width: 65%;
}
button
{
  background: #FF6600;
  font-size: 20px;
  border: 3px;
  border-radius: 25px;
  padding: 10px;
}
buttons:hover
{
  background: red;
}

.property
{
padding: 5px;
width: 100%;
height: auto;
margin-bottom: 10px;
}
.property-img
{
display: block;
float: left;
width: 100px;
height: 100px;
}
table
{
border: 3px solid #4CAF50;
text-align: center;
width: 90%;
height: auto;
font-size: 15px;
}
th
{
width: 10%;
}
